html{
  background-color: rgb(37, 37, 37);
  background-image: url("../img/background/dark-bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0; 
}

/* Navbar CSS */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active{
  background-color: #111!important; /* Ho messo !important perchè dato che uso questo .active sopra ad altri css è meglio metterlo sempre */
  color: #d9c115!important; /* Ho messo !important perche ".topnav a" contiene "color: #f2f2f2;" */
}

.topnav .icon {
  display: none;
}

.logo{
  float: left;
  width: 50px; 
  height: 48px;
  margin: 0 15px;
  padding: 5px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #111; 
  color: #d9c115; 
}

.dropdown-content a:hover {
  background-color: #111; 
  color: #d9c115; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SlideShow CSS */
* {box-sizing:border-box}
.slideshow-container {
  max-width: inherit;
  position: relative;
  margin: auto; 
  background-color: #111;
  text-align: center;
  width:85%
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext img{
  width: 100%;
}

/* Varie Regole CSS */
.center{
  text-align: center;
}

.color-yellow{
  color: #d9c115;
}

/* Row e Columns CSS */
.column {
  float: left;
  padding: 20px;
  width: 33%;
}

.column-about{
  margin: 0; padding: 30px; float: left;
  width: 33%;
}


.column-project{
  float: left;
  padding: 20px;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row > .column {
  padding: 0 8px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
/* Clear floats after the columns */


/* Footer */
.footer ul { 
  margin: 0; padding: 0; list-style: none;
}
.footer ul a{
  font-size: 15px;
}
.footer{
  display:block;
  padding: 25px; border-radius: 5px;;
  margin-left: 20px; margin-right: 20px; margin-top: 20px;
  background-color: #d9c115;
  font-family: Arial, Helvetica, sans-serif;
}


/* Splitter */
.splitter{
  background-color: transparent;
  height: 300px;
}
.splitter-article{
  background-color: transparent;
  height: 150px;
}


/* Container + Article + Home CSS */
.container{
  background-color:#111;
  padding-left: 15px; padding-right: 15px; /* spazio interno */
  padding-bottom: 50px; padding-top: 50px;
  margin: 0;
  height:auto;
}
.article{
  height: auto;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 15px; /* spazio interno */
  margin-left: 125px; margin-right: 125px;
} 
.home{
  background-color:rgba(17,17,17, 0.2);
  height: inherit;
  max-width: inherit;
  margin-top: 80px;
}
.home img{
  width: 100%;
  height: auto;
  -webkit-filter: opacity(55%); /* Safari 6.0 - 9.0 */
  filter: opacity(55%); /*blur(2px)*/
}

/* Responsive CSS */

@media screen and (max-width: 600px) {
  /* Responsive Navbar */
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .topnav a.icon { /* CSS */
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .article{
    margin-left: 0; margin-right: 0;
  } 
}

@media screen and (max-width: 800px) { 
  /* Responsive Colonne. 
  Quando la porzione di schermo visibile < di 800px, la larghezza delle colonne viene impostato (width= 100%;) */
  .column-project{
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .article{
    margin-left: 0; margin-right: 0;
  } 
}

/* Animazione Fade CSS */
.fade {
  
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;

  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}
